[Unit]
Description=Thermocouple Probe HTTP service
After=syslog.target

[Service]
Type=simple
User=pi
WorkingDirectory=/var/www/ezekiel/site
ExecStart=/usr/bin/python /var/www/ezekiel/site/app.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
