[Unit]
Description=Thermocouple Probe Updater Service
After=syslog.target

[Service]
Type=oneshot
User=pi
WorkingDirectory=/var/www/ezekiel/probe_reader
ExecStart=/usr/bin/python /var/www/ezekiel/probe_reader/update_db.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
